certs
esdata01
esdata02
kibanadata

.DS_Store
*.idea
**/*.crt
**/*.csr
**/*_creds
**/*.jks
**/*.srl
**/*.key
**/*.req
**/*.pem
**/*.der
**/*.p12
**/keypair/
**/ldap_users/*.ldif
!**/ldap_users/01_base.ldif
!**/ldap_users/02_KafkaDevelopers.ldif
ui/expanded
*.zip
*.log
**/delta_configs/
**/stack-configs/
**/ccloud_library.sh
**/ccloud-generate-cp-configs.sh